<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <mujoco_inputs>

    <!-- The contents of `raw_inputs` will be copied and pasted directly into the MJCF -->
    <raw_inputs>
      <option integrator="implicitfast"/>

      <default>
        <default class="visual">
          <geom group="2" type="mesh" contype="0" conaffinity="0"/>
        </default>
        <default class="collision">
          <geom group="3" type="mesh"/>
        </default>
      </default>

      <!-- <actuator>
        <velocity name="DL_Rotate" joint="DL_Rotate"/>
        <velocity name="DR_Rotate" joint="DR_Rotate"/>
      </actuator>
      <actuator>
        <velocity name="LA_Extend" joint="LA_Extend"/>
      </actuator>
      <actuator>
        <velocity name="Excavation_Rotate" joint="Excavation_Rotate"/>
      </actuator> -->
      <!-- <extension>
        <plugin plugin="mujoco.plugin.lidar">
          <instance name="lidar">
            <config key="resolution" value="360 1"/>
            <config key="azimuth_range" value="-3.14159 3.14159"/>
            <config key="elevation_range" value="0.0"/>
            <config key="max_range" value="10.0"/>
            <config key="min_range" value="0.1"/>
          </instance>
        </plugin>
      </extension> -->

      <!-- <sensor>
        <plugin name="lidar" instance="lidar" objtype="site" objname="lidar_link_optical"/>
      </sensor> -->
    </raw_inputs>

    <!-- Specific inputs that require processing from the conversion script-->
    <processed_inputs>
      <!-- Specifying decompose_mesh will set the `decompose` flag when using obj2mjcf -->
      <!-- <decompose_mesh mesh_name="forearm" threshold="0.05"/> -->

      <!-- The camera with the specified values will be added at the specified site name. -->
      <!-- The position and quaterinion will be filled in by the converter -->
      <!-- <camera site="camera_link_optical" name="camera" fovy="58" mode="fixed" resolution="640 480"/> -->

      <!-- The element with the type and name as listed below will be modified with the remaining attributes -->
      <!-- If the attribute already existed, it will be overwritten -->
      <!-- Note that the type and name elements are required -->
      <modify_element type="joint" name="front_left_wheel_joint" damping="0.1" armature="0.1"/>
      <modify_element type="joint" name="front_right_wheel_joint" damping="0.1" armature="0.1"/>
      
      <modify_element type="joint" name="back_left_wheel_joint" damping="0.1" armature="0.1"/>
      <modify_element type="joint" name="back_right_wheel_joint" damping="0.1" armature="0.1"/>
    </processed_inputs>
  </mujoco_inputs>
</robot>