<?xml version="1.0" encoding="utf-8"?>
<robot name="Tibble" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Declare any variables (including ones set by launch files) -->
    <xacro:arg name="use_sim" default="false"/>
    <xacro:arg name="use_control" default="false"/>
    <xacro:arg name="use_mock_hardware" default="false" />

    <!-- Define base_link -->
    <link name="base_link"/>

    <!-- Include needed files (utilizing conditions) (these are relative filepaths) -->
    <xacro:include filename="tibble_core.xacro"/>
    <!-- <xacro:include filename="sensors.xacro"/> -->

    <xacro:if value="$(arg use_control)">
        <xacro:include filename="ros2_control.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg use_sim)">
        <xacro:include filename="mujoco_inputs.xacro"/>
    </xacro:if>

</robot>